body {
  color: black;
  background-color: white;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  .channels {
    width: 30%;
  }
  .message-list {
    height: 90vh;
    overflow: scroll;
    width: 70%;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    h2 {
      color: red;
    }
    h3 {
      margin-top: 0;
    }
    .message-form {
      position: absolute;
      bottom: 20px;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}
